/* nav starts */



a {
    text-decoration: none;
    color: white;
}




nav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background: rgb(22, 22, 22);
    padding: 0 15px;
    position: relative;
    z-index: 1000;
}


.navleft {
    font-size: 1rem;
    flex: 1;
    margin-left: 20px;
    margin-right: 25px;
    color: rgb(216, 203, 203);
}


.navleft #logoimg {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}


.navleft img {
    width: 50px;
    height: 24px;
}


.menu,
.submenu {
    list-style-type: none;
}

.menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
}


.menu li a {
    display: block;
    padding: 15px 20px;
    outline: none;
}



.item {
    text-align: center;
    order: 0;
    position: relative;
    display: block;
    width: auto;

}


.item a {
    color: white;
}

.item .active {
    color: rgb(76, 130, 248);
    font-size: 1.2rem;
}

.item .active:hover {
    text-decoration: underline;
}

.item a:hover {
    color: white;
    background-color: rgb(59, 114, 231);
    border-radius: 0px;
    padding: 15px 20px;

}

.submenu {
    display: none;
}


/* submenu click */


.has-submenu:hover .submenu {
    display: block;
    position: absolute;
    left: 0px;
    top: 48px;
    background-color: black;
    z-index: 98;
}




/* submenu click ends */



.toggle {
    display: none;
}



.has-submenu i {
    font-size: 12px;
}

.has-submenu>a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
}

.subitem a:hover {
    color: white;
    background-color: rgb(59, 114, 231);
    border-radius: 0px;
    padding: 15px 20px;
    z-index: 99;
    cursor: pointer;
}


/* styling nav right*/

.navright {

    position: absolute;
    top: 5px;
    right: 0px;
    display: flex;
    align-items: center;
    margin-right: 40px;
}



.search {
    flex: 1;
    align-items: center;
}

.searchbox input {
    position: relative;
    display: flex;
    width: 0px;
    height: 30px;
    padding: 0px 0px;
    padding-right: 30px;
    border-radius: 50%;
    transition: 1.5s;
    margin-right: 10px;
    border: 0px;
    outline: 0px;

    background-color: transparent;

    color: blue;
    font-size: 0.9rem;
    font-weight: 600;
}

.searchbox input:hover,
.searchbox input:focus {
    background-color: rgb(250, 255, 248);
    width: 200px;
    padding-left: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;

}

.searchbox::before {
    font-family: 'Font Awesome 5 Free';
    content: "\f002";
    font-weight: 900;
    position: absolute;
    top: -8px;
    right: 180px;
    line-height: 50px;
    color: rgb(59, 114, 231);
    font-size: 1.4rem;
}

.register {
    align-items: center;
    margin-right: 10px;

}

.registerbtn {
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 1px;
    border: 0px;
    outline: 0px;
    background-color: rgb(59, 114, 231);
    color: white;
    cursor: pointer;
    font-size: 0.8rem;

}

.registerbtn:hover {
    padding: 12px 12px;
    background-color: #7c7e00;
    color: white;
    cursor: pointer;
    transition: 0.5s;

}


.login {
    align-items: center;
    margin-right: 5px;

}

.loginbtn {
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 1px;
    border: 1px solid rgb(59, 114, 231);
    outline: 0px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;

}

.loginbtn:hover {
    padding: 7px 12px;
    background-color: #7c7e00;
    color: white;
    cursor: pointer;
    transition: 0.5s;

}



/* nav ends */

















/* Tablet menu */
@media all and (max-width: 1035px) {




    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }


    .menu,
    .submenu {
        list-style-type: none;
    }

    .menu li a {
        display: block;
        padding: 15px;
    }

    .toggle {
        display: flex;
        order: 0;
        font-size: 20px;
    }

    .item {
        padding: 10px;
        order: 1;
        width: 100%;
        text-align: center;
        display: none;
    }

    .active .item {

        display: block;
    }


    .item a:hover,
    .item a:hover::after {
        color: #ccc;
    }

    /* Submenu up from tablet screens */
    .submenu {
        display: none;
    }

    .has-submenu:hover .submenu {
        display: block;
        position: relative;
        left: 0px;
        top: 0px;
        background: #111;
    }




    .submenu-active .submenu {
        display: block;
        position: relative;
        left: 0px;
        top: 0px;
        background-color: #111;

    }


    .submenu-active {
        background-color: #111;
        border: 1px solid #fff;
        border-radius: 5px;

    }



    .has-submenu i {
        font-size: 12px;
    }

    .has-submenu>a::after {
        font-family: "Font Awesome 5 Free";
        font-size: 12px;
        line-height: 16px;
        font-weight: 900;
        content: "\f078";
        color: white;
        padding-left: 5px;
    }

    .subitem a {
        padding: 10px 15px;
    }


    /* styling navright */

    .navright {
        display: flex;
        position: absolute;
        top: 8px;
        right: 0px;

    }


    .searchbox::before {
        font-family: 'Font Awesome 5 Free';
        content: "\f002";
        font-weight: 900;
        position: absolute;
        top: -8px;
        right: 183px;
        line-height: 50px;
        color: rgb(59, 114, 231);
        font-size: 1.2rem;
    }


    /* Submenu up from tablet screens ends */





}

















/* Mobile menu */
@media all and (max-width: 700px) {


    nav {

        padding: 0 5px;
        position: relative;
        z-index: 900000;
    }


    .navleft {
        font-size: 1rem;
        flex: 1;
        margin-left: 5px;
        margin-right: 25px;
        color: rgb(216, 203, 203);
    }


    .navleft #logoimg {
        width: 50px;
        height: 40px;
        margin: 0px 5px;
    }


    .navleft img {
        width: 50px;
        height: 20px;
    }




    nav .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }



    .searchbox {
        display: none;
    }



    .toggle {
        margin: 0;
        padding: 0;
        font-size: 30px;
    }








    .navright {

        position: absolute;
        top: 10px;
        right: 0px;
        display: flex;
        align-items: center;
        margin-right: 5px;
    }




}